<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC1d9zLXKVrGXvhCPDX2EZ-OQjFWfTMZRg</string>
	<key>GCM_SENDER_ID</key>
	<string>1086447131309</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mweuc654.busbooking</string>
	<key>PROJECT_ID</key>
	<string>busbooking-6224c</string>
	<key>STORAGE_BUCKET</key>
	<string>busbooking-6224c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1086447131309:ios:4b8b2de6d0ceb273af8424</string>
</dict>
</plist>